<div id="body">

    <div style="text-align:center;"><h1>Abonnementsimulering</h1></div>
    <div style="width: 1000px; margin-left: auto; margin-right: auto;">
        
        <div class="panel panel-default">

            <div class="panel-heading">Dokumentation for WEB API: http://grp16dtu-001-site1.smarterasp.net/API </div>
            

            <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 50px">Type</th>
                    <th>URL</th>
                    <th style="width: 500px;">Beskrivelse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="vertical-align: middle;"><button class="btn btn-success">GET</button></td>
                    <td style="vertical-align: middle;"><a href="../../API/GenererNySimulering/387892">/GenererNySimulering/{EconomicAftalenummer}</a></td>
                    <td style="vertical-align: middle;">Genererer komplet simulering og lægger data i database.</td>
                </tr>

                <tr>
                    <td style="vertical-align: middle;"><button class="btn btn-success">GET</button></td>
                    <td style="vertical-align: middle;"><a href="../../API/SletKundeTabeller/387892">/SletKundeTabeller/{EconomicAftalenummer}</a></td>
                    <td style="vertical-align: middle;">Sletter alle kunderelaterede tabeller</td>
                </tr>

                <tr>
                    <td style="vertical-align: middle;"><button class="btn btn-success">GET</button></td>
                    <td style="vertical-align: middle;"><a href="../../API/DatapunkterTidDkk">/DatapunkterTidDkk</a></td>
                    <td style="vertical-align: middle;">Henter datapunkter med dimension: tid og key figure: DKK</td>
                </tr>

                <tr>
                    <td style="vertical-align: middle;"><button class="btn btn-success">GET</button></td>
                    <td style="vertical-align: middle;"><a href="../../API/DatapunkterTidAntal">/DatapunkterTidAntal</a></td>
                    <td style="vertical-align: middle;">Henter datapunkter med dimension: tid og key figure: Antal</td>
                </tr>
            </tbody>
            </table>
            
        </div>

        
    </div>
    
</div>
